---
layout: archive
---

<h1>About me </h1>  

<p>I am a PhD student at the Institut de Recherche en Informatique Fondamentale (<a href="https://www.irif.fr">IRIF</a>), since october 2022,
        under the supervision of <a href="https://person.dibris.unige.it/sangnier-arnaud/">Arnaud Sangnier</a> (<a href="http://dibris.unige.it/en/front">DIBRIS</a>) 
        and <a href="https://pages.lip6.fr/Nathalie.Sznajder/">Nathalie Sznajder </a> (<a href = "https://www.lip6.fr">LIP6</a>). I am currently involved in the ANR project <a href="https://raduiosif.github.io/PAVEDYS/">PaVeDyS</a>.



{{ content }}