---
layout: archive
---

<h1>About me </h1>  


<p> 

	I am an assistant professor (Maîtresse de Conférences) at Université Paris Cité, and a member of <a href="https://www.irif.fr">IRIF</a>.
</p>

<p>

Before that, I was a postdoctoral researcher at the <a href = " https://www.mpi-sws.org">Max Planck Institute for Software Systems </a> (MPI-SWS) in Kaiserslautern, advised by <a href = "https://people.mpi-sws.org/~rupak/">Rupak Majumdar</a>. 

Between october 2022 and september 2025, I was a PhD student at the Institut de Recherche en Informatique Fondamentale (<a href="https://www.irif.fr">IRIF</a>), 
under the supervision of <a href="https://person.dibris.unige.it/sangnier-arnaud/">Arnaud Sangnier</a> (<a href="http://dibris.unige.it/en/front">DIBRIS</a>) 
        and <a href="https://pages.lip6.fr/Nathalie.Sznajder/">Nathalie Sznajder </a> (<a href = "https://www.lip6.fr">LIP6</a>).
		 
</p>

<p>
	My research interests are verification of distributed systems, especially with an unbounded number of processes. 
</p>

<a href="https://tcs4f.org" 
   style="display: inline-block;
	background-color: #004b1e; border: 2px solid #CCCCCC;
	padding: 5px; margin: 10px; border-radius: 5px;">
	<img width="250" src="https://tcs4f.org/themes/tcs4f/img/logo_TCS4F_initiative_white_long.svg" 
	     alt="Theoretical Computer Scientists for Future">
</a>



{{ content }}